$text: #21A0A0;
$button:#FCFFF7;
$buttonHover:#21A0A0;
$buttonInput:#21A0A0;
$background: #FCFFF7;
$menuBackground: #21A0A0;
$optionsBackground: #F2F4ED;
$h1: #FCFFF7;
$lines: #AEDCDC;
$circleMeter: #CFD1CB;
