$text: #21A0A0;
$button:#21A0A0;
$buttonHover:#21A0A0;
$buttonInput:#21A0A0;
$background: #F2F4ED;
$menuBackground: #21A0A0;
$optionsBackground: #5DB9B9;
$h1: #FCFFF7;
$lines: #AEDCDC;
$circleMeter: #CFD1CB;
