@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './colors.scss';

html,
body {
    height: 100%;
    font-family: Roboto;
}

body {
  color: $text;
  background-color: $background;
}

#app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContentWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar {

}

.trainingState, .currentSet {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: gray;
}

.trainingState {
  margin: 0.25em 0;
  font-size: 1.5em;
}

.currentSet {
  margin: 0.45em 0;
  font-size: 0.85em;
}

.optionsWrapper {
    color: grey;

    h2 {
      margin-top: 0;
      padding: 0.25em 0;
      border-bottom: 1px solid lightgray;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
}

.option {
  text-align: center;
 div {
   margin: 0 auto;
   height: 2em;
   display: inline-block;
   input {
     margin: 0;
     padding: 0;
     border: none;
     text-align: center;
     height: 2em;
     line-height: 2;
     background-color: #C7DBDB;
     &[type = button] {
       cursor: pointer;
       background: none;
       background-color: $buttonInput;
       color: white;
       width: 2em;
     }
   }
   button {
     margin: 0;
   }
   .increment {
     border-radius: 0 1em 1em 0;
   }
   .decrement {
     border-radius: 1em 0 0 1em;
   }
 }
}

.controls {
  margin-top: 2em;
    padding-bottom: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 1.2em 0;
    p {
      margin-bottom: 0.5em;
      margin-top: 0;
    }
  }
  &.disabled {
    input {
      background-color: lightgray;
    }
    input[type=button] {
      background-color: gray !important;
    }
  }
}

.clockWrapper{
  padding-right: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
   //optical compensation
}

.trainingInfo {
  background-color: $optionsBackground;
  width: 100%;
  border-bottom: 1px solid $lines;
  h2 {
    padding: 1.5em 0 1.5em 0;
    margin: 0 1em;
  }
}

button {
  cursor: pointer;
  border: none;
  font-size: 1em;
  background: none;
  padding: 1em;
  border-radius: 1.25em;
  background-color: $button;
  color: white;
  transition: background 0.2s ease;
  &:hover {
    background-color: $buttonHover;
  }
}

menu {
  background-color: $menuBackground;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $lines;
  h1 {
    flex-grow: 1;
    text-align: center;
    color: $h1;
  }
}

.progressBarWrapper {
  width: 400px;
  position: relative;
  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    font-size: 4em;
    margin: 0;
  }
  svg {
    width: 100%;
    height:100%;
  }
}

.circleProgressBackground {
  stroke: $circleMeter;
}

.progressValue {
  transition: stroke-dashoffset ease;
  transition-duration: 1s;
}
