@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './colors.scss';

html,
body {
    height: 100%;
    font-family: Roboto;
}

body {
  color: $text;
  background-color: $background;
}

.container {
  display: flex;
  flex-direction: column;
}

.mainContentWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.optionsWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $optionsBackground;
    width: 400px;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid $lines;
}

.option {
 margin: 0 2em;
 div {
   margin: 0 auto;
   p {
     display: inline-block;
     margin: 0 1em;
   }
 }
}

.timerWrapper {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid white;
  background: none;
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: $button;
  color: white;
}

menu {
  margin: 0;
  padding: 0.2em 0;
  border-bottom: 1px solid $lines;
  background-color: $menuBackground;
  h1 {
    text-align: center;
    color: $h1;
  }
}

.progressBarWrapper {
  margin:2em;
  position: relative;
  h2 {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

.circleProgressBackground {
  stroke: $circleMeter;
}

.progressValue {
  transition: stroke-dashoffset ease;
  transition-duration: 1s;
}
